{% block footer %}
    <div class="row mt-2 gx-0">
        <div class="col-12 text-center">
            <p>Made with
                &#x2764;, Php 8.0.9, Symfony 5.4 and to much &#x2615; !! Cheers Fred & Nawal.</p>
        </div>
    </div>
{% endblock %}